SUPABASE_URL=https://jhoyxtwvkbjbqkdypqcu.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Impob3l4dHd2a2JqYnFrZHlwcWN1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODMyNDQzMTQsImV4cCI6MjA5ODgyMDMxNH0.2pxtwGmMGNG1lGrjAUsDbHqEmqxpPisk3dgEnwk74wU
